<%= stylesheet_link_tag 'footer' %>

<footer>
    <nav class="nav">
      <ul>
          <li><%= link_to '利用規約', kiyaku_policies_path%></li>
          <li><%= link_to 'プライバシーポリシー', privacy_policies_path%></li>
          <li><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSeb5Wspuztyo9fNQeOc9zjo_dYtONe6NuZDZ4PXeiirY1aF0Q/viewform?usp=sf_link'%></li>
      </ul>
    </nav>
    <p class="copyright">
      &copy; Kouheisan
    </p>
</footer>