<%= stylesheet_link_tag 'footer' %>

<footer>
    <nav class="nav">
      <ul>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
    <p class="copyright">
      &copy; Kouheisan
    </p>
</footer>