<%= stylesheet_link_tag 'header' %>

<header>
    <h1 class="text-lg">
        <a href="/">交平さん</a>
    </h1>
    <div class="back">
        <% if content_for?(:back_path) %>
            <%= link_to raw('<i class="fa-solid fa-angle-left fa-2xl" style="color: #d75050;"></i>'), content_for(:back_path) %>
        <% end %>

    </div>
    <div class="subtitle">
        <h1 class="text-xl"><%= content_for?(:title) ? yield(:title) : "デフォルトのタイトル" %></h1>
    </div>
    <nav class="login">
        <ul>
            <li><a href="#">ログイン</a></li>
        </ul>
    </nav>
</header>
