<%= stylesheet_link_tag 'cost' %>

<div class="share-modal">
  <% if user_signed_in? %>
    <p class="py-4">交平さんに交通費を伝えます。<br>どちらの交通費として伝えますか？</p>
    <div id="error_message"></div>

    <div class="cost-button">
      <%= link_to t('costs.before'), costs_path(action_type: 'before'),  class:"btn btn-active btn-accent before", data: { "turbo-method": :post, turbo_action: 'replace', turbo_frame: 'modal_frame' } %>
      <%= link_to t('costs.after'), costs_path(action_type: 'after'),  class:"btn btn-active btn-accent after", data: { "turbo-method": :post, turbo_action: 'replace', turbo_frame: 'modal_frame' } %> 
    </div>
  <% else %>
    <p class="py-4">ログインが必要です</p>
  <% end %>
</div>
