<turbo-stream action="replace" target="modal_frame">
  <template>
    <div class="container">
      <p>旅行前の費用を交平さんに伝えました！<br>
        LINEで「交平さん！」とメッセージを送ると
        交平さんが共有してくれます</p>
    <div>
  </template>
</turbo-stream>