<turbo-stream action="replace" target="modal_frame">
  <template>
    <div class="container">
      <p class="shared">旅行後にかかった費用を交平さんに伝えました！<br>
        LINEで「交平さん！」とメッセージを送ると
        交平さんが共有してくれます
      </p>
    <div>
  </template>
</turbo-stream>