@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome-sprockets";
@import "font-awesome";
@import 'header';
@import 'footer';
@import 'top';
@import 'gasoline';
@import 'highway';
@import 'extra';
@import 'split';
@import 'privacy';
@import 'how';
@import 'cost';

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}