@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome-sprockets";
@import "font-awesome";
@import 'header';
@import 'footer';
@import 'top';
@import 'gasoline';
@import 'highway';
@import 'extra';
@import 'split';
@import 'privacy';
@import 'how';
@import 'cost';
@import 'error';

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}
#toast {
  z-index: 100;
  transition: opacity 0.05s ease-out, transform 0.5s ease-out;
}