.right-align, .modal-extra {
  text-align: right;
  padding-right: 26px;
}

.open {
  transform: translateY(0);
}

.rotate {
  transform: rotate(180deg);
}

.field {
  text-align: center;
}

.field .input-accent {
  width: 180px;
  text-align: center;
}

.field-yen {
  position: relative;
  right: 45px;
  bottom: 30px;
}

.modal-extra .btn-accent {
  color: white;
  margin: 10px 0;
}

.edit_button .actions {
  text-align: right;
}

.new_button .btn-accent {
  color: black;
}

.btn.btn-active.btn-success {
  padding: 13px 8px;
  margin: 0 3px;
}

.btn.btn-active.btn-secondary {
  padding: 13px 8px;
}

.action-buttons .btn-success, .btn-secondary {
  float: left;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  display: flex;
}

.action-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}