.right-align, .modal-extra {
  text-align: right;
  padding-right: 40px;
}

.open {
  transform: translateY(0);
}

.rotate {
  transform: rotate(180deg);
}

.field {
  text-align: center;
}

.field .input-accent {
  width: 180px;
  text-align: center;
}

.field-yen {
  position: relative;
  right: 45px;
  bottom: 30px;
}

.modal-extra .btn-accent {
  color: white;
}