.right-align, .modal-extra {
  text-align: right;
  padding-right: 40px;
}

.open {
  transform: translateY(0);
}

.rotate {
  transform: rotate(180deg);
}

.field {
  text-align: center;
}

.field .input-accent {
  width: 180px;
  text-align: center;
}

.field-yen {
  position: relative;
  right: 45px;
  bottom: 30px;
}

.modal-extra .btn-accent {
  color: white;
  margin: 10px 0;
}

.edit_button .actions {
  text-align: right;
}

.new_button .btn-accent {
  color: black;
}

.btn.btn-active.btn-success {
  width: 10px;
  height: 5px;
}

.btn.btn-active.btn-secondary {
  width: 10px;
  height: 5px;
}

.action-buttons {
  display: flex;
}
