.edit-destroy-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.favorite-list {
  padding: 20px 10px;
  margin: 20px 0;
  background-color: #e5dfdc;
  border-radius: 20px
}

.location-name {
  margin-bottom: 5px;
  font-size: 20px;
}

.location-name-bef {
  font-size: 20px;
}

.location-address {
  margin: 20px 0 20px 5px;
}

.form-button {
  margin-top: 5px;
}

.no-favorite {
  margin: 30px 0;
  text-align: center;
}

.favo-index {
  font-size: 22px;
  width: 300px;
  font-weight: bold;
}

.new-button {
  margin: 10px 0 0 20px;
}

.favo-table {
  font-size: 18px;
  
}

