* {
  box-sizing: border-box;
}

body,
#wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'TsukuARdGothic-Regular', sans-serif;
}

// safariのみ適用
::-webkit-full-page-media, :future, :root #wrapper {
  min-height: 115vh;
}

header {
  width: 100%;
  padding: 10px 4% 0;
  background-color: #d59d6c;
  height: 110px;
  position: relative;
  color: #691726;
}

.return {
  position: relative;
  top: 15px;
  left: 5px;
  text-align: left;
  z-index: 1;
}

.text-lg {
  width: 100px;
  margin: 0;
  padding: 0;
  position: relative;
      top: 0;
      right: 0;
}

h3 {
  position: relative;
  top: 15px;
  text-align:  center; 
  margin:0 auto;
  position: relative;
      top: 0;
      right: 0;
}

header a {
  text-decoration: none;
  color: #691726;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.login {
  position: absolute;
      top: 10px;
      right: 10px;
}

.subtitle .text-xl {
  font-weight: bold;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 250px;
  text-align: center;
}

#edit-toggle-button {
  position: absolute;
      top: 70px;
      right: 10px;
      z-index: 10;
}

.head-title {
  color: #691726;
}

.avatar {
  border-radius: 50%;
}

.dropdown-content {
  z-index: 100;
  background-color: #fff;
}
//detailsの三角マーク非表示
details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.dropdown-end {
  margin-bottom: 0;
}