* {
  box-sizing: border-box;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// safariのみ適用
::-webkit-full-page-media, :future, :root #wrapper {
  min-height: 115vh;
}

header {
  width: 100%;
  padding: 10px 4% 0;
  background-color: #d59d6c;
}

.return {
  position: relative;
  top: 15px;
  left: 5px;
  text-align: left;
  z-index: 1;
}

.text-lg {
  width: 100px;

  margin: 0;
  padding: 0;
  position: relative;
      top: 0;
      right: 0;
}

h3 {
  position: relative;
  top: 15px;
  text-align:  center; 
  margin:0 auto;
  position: relative;
      top: 0;
      right: 0;
}

header a {
  text-decoration: none;
  color: #691726;
  
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.login {
  position: absolute;
      top: 10px;
      right: 10px;
}

.subtitle .text-xl {
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 15px;
}

#edit-toggle-button {
  position: absolute;
      top: 65px;
      right: 10px;
}