.howto {
  text-align: center;
  padding: 15px 30px;
}

.howto .title {
  font-size: 20px;
  padding-top: 50px;
}

.PNG {
  position: relative;
  top: 20px;
  margin: auto;
}

.line-button {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}