.counter .input-accent {
  width: 75px;
  text-align: center;
}

#person-count {
  font-size: 20px;
}

#split-amount {
  font-size: 30px;
  color: #d75050;
  border-bottom:solid #d75050;
}

.share .btn-accent {
  width: 100%;
  position: relative;
  top: 15px;
}

.counter {
  position: relative;
  bottom: 10px;
}

#decrement-button, #increment-button {
  position: relative;
  top: 10px;
}

::-webkit-full-page-media, :future, :root .split-safari {
  position: relative;
  bottom: 20px;
}

::-webkit-full-page-media, :future, :root .counter {
  position: relative;
  top: 10px;
}