<%= stylesheet_link_tag 'extra' %>
<%= javascript_include_tag "extra_swipe", "data-turbo-track": "reload" %>

<tr class="swipeable-row text-xl font-bold">
  <td><%= extra.category %></td>
  <td class="right-align">
    <%= extra.amount %>円
    <div class="action-buttons">
      <button class="edit-button">編集</button>
      <button class="delete-button">削除</button>
    </div>
  </td>
</tr>
