<h1>Editing favorite location</h1>

<%= render "form", favorite_location: @favorite_location %>

<br>

<div>
  <%= link_to "Show this favorite location", @favorite_location %> |
  <%= link_to "Back to favorite locations", favorite_locations_path %>
</div>
