<%= stylesheet_link_tag 'favorite_location' %>

<% content_for :title, "お気に入り地点" %>
<% content_for :back_path, root_path %>

<div style="text-align: right;">
  <button class="btn btn-sm btn-link" id="start">操作方法</button>
</div>

<div class="container">
  <p class="favo-index">お気に入り地点一覧</p>
  <% @favorite_locations.each do |favorite_location| %>
    <div id="favorite_locations">
      <%= render favorite_location %>
    </div>
  <% end %>

  <%= render "new_button" %>
</div>