<p style="color: green"><%= notice %></p>

<h1>お気に入り地点</h1>

<div id="favorite_locations">
  <% @favorite_locations.each do |favorite_location| %>
    <%= render favorite_location %>
  <% end %>
</div>

<turbo-frame id="favorite_location_new_frame">
  <%= link_to "登録する", new_favorite_location_path, data: { turbo_frame: "favorite_location_new_frame" } %>
</turbo-frame>
