<%= stylesheet_link_tag 'favorite_location' %>

<% content_for :title, "お気に入り地点" %>
<% content_for :back_path, root_path %>

<div class='container'>
  <p style="color: green"><%= notice %></p>

  <div id="favorite_locations">
    <% @favorite_locations.each do |favorite_location| %>
      <%= render favorite_location %>
    <% end %>
  </div>

  <%= render "new_button" %>
</div>