<h1>New favorite location</h1>

<turbo-frame id="favorite_location_new_frame">
  <%= render "form", favorite_location: @favorite_location %>
</turbo-frame>

<br>

<div>
  <%= link_to "Back to favorite locations", favorite_locations_path %>
</div>