<% content_for :title, "アプリの使い方" %>
<% content_for :back_path, root_path %>
<%= stylesheet_link_tag 'how' %>


<div class="howto">
  <div>
    <p class="about">
      旅行でかかる交通費を交平さんがLINEのグループで共有してくれます。<br>
      ですが今は交平さんが忙しいらしいので計算機能のみお使いいただけます。<br>
      共有はしばらくお待ちください・・・。<br>
    </p>
  </div>

  <div class="how1">
    <p class="title">1.ログインと友達追加</p><br>
    LINEを使ってログインをします。<br>
    一緒に交平さんもお友達追加します。
  </div>

  <div class="how2">
    <p class="title">2.交通費を計算</p><br>
    交通費を計算します。<br>
    ガソリン代金・高速料金の計算、必要経費を追加できます。
  </div>

  <div class="how3">
    <p class="title">3.交通費を共有</p><br>
    交通費を交平さんに共有します。
  </div>

  <div class="how4">
    <p class="title">4.交平さんを呼ぶ</p><br>
    交平さんをトークに追加して名前を呼ぶと共有した交通費を請求してくれます。
  </div>
</div>