<% content_for :title, "アプリの使い方" %>
<% content_for :back_path, root_path %>
<%= stylesheet_link_tag 'how' %>


<div class="howto">
  <div>
    <p class="about">
      旅行でかかる交通費を交平さんがLINEのグループで共有してくれます。<br>
    </p>
  </div>

  <div class="how1">
    <p class="title">1.ログインと友達追加</p><br>
    LINEを使ってログインをします。<br>
    一緒に交平さんもお友達追加します。
    <div class="line-button">
      <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@112rjbzt" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </div>
    <%= image_tag 'tuika.PNG', size: '200x150', class:"PNG" %>
  </div>

  <div class="how2">
    <p class="title">2.交通費を計算</p><br>
    交通費を計算します。<br>
    ガソリン代金・高速料金の計算、必要経費を追加できます。
    <%= image_tag 'keisan.PNG', size: '300x200', class:"PNG" %>
  </div>

  <div class="how3">
    <p class="title">3.交通費を共有</p><br>
    交通費を交平さんに共有します。
    <%= image_tag 'kyouyu.PNG', size: '200x150', class:"PNG" %>
  </div>

  <div class="how4">
    <p class="title">4.交平さんを呼ぶ</p><br>
    <div class="chat chat-end">
      <div class="chat-bubble">交平さん！</div>
    </div>
    </div>
    交平さんをトークに追加して名前を呼ぶと共有した交通費を請求してくれます。
  </div>
</div>